@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 40rem;
}

.infor {
    /* margin-top: 1rem;     */
    width: 69vw;
    min-height: 90vh;
    background-color: #fff;

    padding-bottom: 7rem;
}

fieldset {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

legend {
    font-size: 2rem;
    font-weight: bold;

    margin-left: 4rem;
}

.field-position {
    margin-top: 3rem;
    margin-left: 4rem;
}

label {
    font-size: 1.9rem;
    padding-bottom: 1rem;
}

input:not(input[type=submit]) {
    background-color:#f0f0f0;
    outline: none;
    margin-left: 1rem;
    width: 28rem;
}

#localizacaoVaga {
    background-color:#f0f0f0;

}

#upload-file {
    background-color: white;
}

#upload-file span {
    font-size: 1.2rem;    
}

select {
    width: 30rem;
    height: 3rem;
}

.bars-inputs {
    display: flex;
    align-items: center;
    width: 30rem;
    height: 3rem;

    border:.1rem solid black ;
    background-color:rgb(105, 105, 105, .1);
}

#upload-file {
    margin-left: 4rem;
    margin-top: 2rem;
    width: 40rem;
}

.descricaoVaga {
    border: .1rem solid gray;
}
.descricaoVagaErro {
    border: .5rem solid rgba(255, 0, 0, .3);
}


#detailJob {
    font-size: 1.5rem;    
}

.erro-borders {
    border-width: .3rem;
    border-color: rgba(255, 0, 0, .3);
}

.erro-message {
    display: none;
    width: 15rem;
    padding: .3rem;

    margin-top: 1rem;

    font-size: 1.6rem;
    background-color: rgba(255, 0, 0, .3);
}

.erro-select {
    background-color: rgba(255, 0, 0, .3);
}

#hidden {
    display: none;
}

textarea{
    resize: vertical;
    width: 766px;
    padding: 1rem;
}



