@charset "UTF-8";


fieldset {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

legend {
    font-size: 2rem;
    font-weight: bold;

    margin-left: 4rem;
}

.field-position {
    margin-top: 3rem;
    margin-left: 4rem;
}

label {
    font-size: 1.9rem;
    padding-bottom: 1rem;
}

.bars-inputs {
    display: flex;
    align-items: center;
    width: 30rem;
    height: 3rem;

    border:.1rem solid black ;
    background-color:rgb(105, 105, 105, .1);
}

input:not(input[type=file]):not(input[type=submit]) {
    background-color:#f0f0f0;
    outline: none;
    margin-left: 1rem;
    width: 28rem;
}

.erro-borders {
    border-width: .3rem;
    border-color: rgba(255, 0, 0, .3);
}

.message {
    display: none;
    width: 15rem;
    padding: .3rem;

    margin-top: 1rem;

    font-size: 1.6rem;
    background-color: rgba(255, 0, 0, .3);
}

textarea{
    border: 1px solid black;
    resize: vertical;
    width: 766px;
    padding: 1rem
}

fieldset {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}


.erro-borders {
    border-width: .3rem;
    border-color: rgba(255, 0, 0, .3);
}

.erro-message {
    display: none;
    width: 15rem;
    padding: .3rem;

    margin-top: 1rem;

    font-size: 1.6rem;
    background-color: rgba(255, 0, 0, .3);
}







