@charset "UTF-8";


.inforDetails {
    display: flex;
    flex-direction: column;

    width: 69vw;
    min-height: 50rem;
    background-color: #fff;
}

#details {
    min-height: 57rem;
   
    padding-left: 6rem;
    padding-top: 2rem;
   
    margin-bottom: 10rem;
}

.flex {
    display: flex;

}

.space {
    margin-top: 0rem;
}

p {
    padding-left: 1rem;
    font-size: 1.6rem;
}

#title {
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.list {
    width: 42rem;
}

h2:not(h2:nth-child(1)){
    margin-top: 2rem;
}

ul.list  li{
    font-size: 1.5rem;
}

#boxSendArea {
    margin-top: 5rem;
    width: 100rem;
    height: 4rem;
}

#listSend {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#boxMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .4rem solid #000;
    width: 19rem;
    height: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: transparent;
}

#line01 {
    align-self: flex-end;
    width: 10rem;
    height: .4rem;
    margin-left: -6rem;
    background-color: black;
}
#line02 {
    align-self: flex-end;
    width: 65.3rem;
    height: .4rem;
    background-color: black;
}

#detail-jobs {
    margin-top: 2rem;
    margin-left: -6rem;
}

#email {
    color: blue;
}





