@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: #343837;
}

header {
    display: flex;
    justify-content: center;
    
}

.all-white-links:visited {
    color:white;
}

#conteine-area {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    width: 69vw;
    padding: 1rem;
    background-color: black;
}

#logo {
    text-decoration: underline;
    text-decoration-thickness: .1rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#menuNormal {
    display: flex;
    list-style-type: none;
}

#menuNormal li:not(.sub-menu li) {
    padding: .5rem;
    font-size: 2rem;
    color: white;

    border: .1rem solid #fff;
    margin-left: 1rem;
    
}

.opicao:hover {
    text-decoration: underline;
    /* transition: all 10s linear; */
}
.sub-menu {
    display: none;
    position: absolute;
    right: 354px;
    top: 45px;
    width: 120px;
    height: auto;
    list-style-type: none;
    background-color: #000;
    z-index: 1;
}

.sub-menu li {
    padding: .2rem;
    font-size: 1.6rem;
    border: 0.1rem solid white;
}

.sub-menu li a{
    color: #fff;
}

.sub-itens:hover .sub-menu, .sub-itens{
    display: block;
}

.sub-menu:hover {
    display: block;
}


.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 14rem;
    height: 4rem;
    
    margin-left: -69rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    
    border: .3rem solid black;
    border-bottom: .1rem solid rgba(156, 107, 107, .1);
    background-color: #fff;
}


.infor {
    /* margin-top: 1rem;     */
    width: 69vw;
    min-height: 90vh;
    background-color: #fff;
}

.send {
    position: relative;
    left: 40px;
    margin-top: 2rem;
    width: 7rem;
    height: 3rem;
    box-shadow: 1px 1px 1px black;
}

.subTitlesField {
    font-size: 1.6rem;
}

.blocos {
    position: absolute;
    border: .1rem solid black;
    background-color: #fff;
    left: 8rem;
    top: 13rem;
}

.types {
    display: flex;
    flex-direction: column;
}



#inforFlex {
    display: flex;
    flex-direction: row;
}

#area-posts {
    flex: 3;
}

#area-posts .posters:nth-child(1) {
    border-top: none;
}

.posters {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.posters h2 {
    padding-bottom: 1rem;

    font-size: 16px;
    color: blue;

}

.date {

    color: rgba(0, 0, 0, .5);
    padding-top: 1rem;
    align-self: flex-end;
}

#categories {
    flex: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

#sub-menu {
    border: 1px solid black;
    width: 17.2rem;
}

.click-subMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.6rem;
    font-size: 1.6rem;
    border-bottom: 1px solid black;
}

.tema {
    text-decoration: underline;
}

.seta {
    text-decoration: none;
}

.click-subMenu:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
}

.drop-menu {
    padding: 0rem;
    height: 0rem;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
    transition: all ease 1s;
    background-color: rgba(0, 0, 0, .5);

}

.scroll {
    overflow: scroll;
}

.drop-menu li {
    list-style-type: none;

    margin-top: 1rem;
    margin-bottom: 1rem;
    
    padding: 1rem;
    background-color: #fff;
}

.drop-menu li a {
    color: blue;
}

#list {
    list-style-type: none;
}

.second-text {
    color: #000;
}

